.page {
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../vendor/fonts/Inter-Regular.otf") format("otf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../vendor/fonts/Inter-Bold.otf") format("otf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../vendor/fonts/Inter-Black.otf") format("otf");
}
