.intro__list {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #FFFFFF;
}

@media screen and (max-width:320px){
  .intro__list{
    margin-top: 34px;
  }  
} 
