.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    padding:0;
    text-align: center;
    z-index: 1;
    color: #FFFFFF;
    margin:auto;
    margin-top: 32px;
    margin-bottom: 20%;
}

@media screen and (max-width:320px){
    .cover__subtitle{
        max-width: 262px;
        font-size: 14px;
        line-height: 114%;
    }  
} 