.cover {
    max-width:1184px;
    margin: auto;
    margin-top: 92px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

@media screen and (max-width:1024px){
    .cover{
        margin-top: 92px;
    }  
} 

@media screen and (max-width:768px){
    .cover{
        margin: 0;
        margin-top: 90px;
    }  
} 

@media screen and (max-width:320px){
    .cover{
        margin-top: 66px;
    }  
} 