.place__link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    margin: 0;
    margin-top: 12px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.place__link:hover {
    opacity: .8;
    transition: ease-out 2s;
  }