.cover__title{
    text-decoration: none;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    padding:0;
    position: relative;
    text-align: center;
    z-index: 4;
    color: #FFFFFF;
    margin:auto;
    margin-bottom: 0;
}

.cover__title:hover cover__link {
    opacity: 0;
}

@media screen and (max-width:680px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
    }  
} 