.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    padding:0;
    text-align: center;
    color: #FFFFFF;
    margin:auto;
    margin-bottom: 0;
    z-index: 1;
}

@media screen and (max-width:522px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
    }  
} 