.place {
    margin:0;
    margin-top: 80px;
    position: relative;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 460px 472px;
    gap: 40px;
}

@media screen and (max-width:1024px){
    .place{
        grid-template-columns: repeat(2, minmax(min-content, 456px));
        gap: 32px;
        margin-top: 80px;
    }  
} 

@media screen and (max-width:768px){
    .place{
        grid-template-columns: repeat(2, minmax(min-content, 352px));
        gap: 16px;
        margin-top: 73px;
    }  
} 

@media screen and (max-width:410px){
    .place{
        grid-template-columns: repeat(1, minmax(min-content, 405px));
        gap: 32px;
        margin-top: 50px;
    }  
} 

@media screen and (max-width:320px){
    .place{
        grid-template-columns: repeat(1, minmax(min-content, 320px));
        gap: 32px;
        margin-top: 50px;
    }  
} 