.footer{
    max-width: 1184px;
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1279px){
    .footer{
      margin-left: 48px;
      margin-right: 48px;
    }  
  } 

@media screen and (max-width:1024px){
    .footer{
        margin: 92px 48px auto 48px;
    }  
} 

@media screen and (max-width:768px){
    .footer{
        margin: 88px 24px auto 24px;
    }  
} 

@media screen and (max-width:700px){
    .footer{
        margin: calc(64px - 32px) auto auto 16px;
        flex-direction: column;
    }  
} 