.footer{
    max-width: 1184px;
    margin: auto;
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    overflow-wrap: normal;
    justify-content: space-between;
}

@media screen and (max-width:1024px){
    .footer{
        margin: 92px 48px auto 48px;
    }  
} 

@media screen and (max-width:768px){
    .footer{
        margin: 88px 24px auto 24px;
    }  
} 

@media screen and (max-width:320px){
    .footer{
        margin: calc(64px - 32px) 16px auto auto;
        flex-direction: column;
    }  
} 